In [1]:
from bs4 import BeautifulSoup as soup
import requests
import pandas as pd

## Scrape data and transform California demographics
Use requests and beautifulsoup to parse the California-demographics webpage. Loop through the table rows and place the data in a pandas dataframe

In [2]:
url = 'https://www.california-demographics.com/zip_codes_by_population'
response = requests.get(url, 'html.parser')
page_soup = soup(response.text)
population = []
for tr in page_soup.find_all('tr')[1:]:
    tds = tr.find_all('td')
    try:
        population.append([tds[1].text.strip()[:5], tds[2].text.strip()])
    except IndexError:
        pass
population

[['90011', '108,051'],
 ['90650', '106,404'],
 ['91331', '105,696'],
 ['90201', '102,878'],
 ['92335', '99,791'],
 ['90250', '97,371'],
 ['91342', '96,177'],
 ['90805', '96,069'],
 ['90280', '95,420'],
 ['90044', '94,680'],
 ['92503', '94,523'],
 ['92336', '94,327'],
 ['94565', '93,549'],
 ['92683', '91,758'],
 ['92704', '90,525'],
 ['91710', '88,862'],
 ['92804', '88,065'],
 ['95076', '87,781'],
 ['92154', '87,218'],
 ['91744', '86,982'],
 ['92376', '86,937'],
 ['94112', '85,373'],
 ['93307', '84,948'],
 ['93722', '84,481'],
 ['91911', '84,025'],
 ['93033', '83,572'],
 ['92592', '82,551'],
 ['92126', '81,883'],
 ['93727', '81,118'],
 ['92509', '81,093'],
 ['92345', '80,910'],
 ['91335', '79,687'],
 ['94544', '78,717'],
 ['95823', '78,398'],
 ['91709', '78,025'],
 ['90706', '77,852'],
 ['91706', '77,819'],
 ['93257', '76,676'],
 ['91910', '76,250'],
 ['95630', '75,864'],
 ['93550', '75,774'],
 ['90255', '75,636'],
 ['95035', '75,614'],
 ['92553', '74,918'],
 ['94533', '74,833'],
 ['94587', '74,354'],
 ['94536', '73,876'],
 ['94110', '73,737'],
 ['93535', '73,728'],
 ['92105', '73,379'],
 ['92805', '73,140'],
 ['93274', '72,918'],
 ['91766', '72,787'],
 ['93065', '72,763'],
 ['92703', '71,963'],
 ['91402', '71,317'],
 ['90262', '71,306'],
 ['93536', '71,303'],
 ['92882', '71,188'],
 ['92021', '71,127'],
 ['91730', '70,545'],
 ['90003', '70,490'],
 ['93306', '70,208'],
 ['92114', '69,635'],
 ['90631', '69,579'],
 ['92880', '68,915'],
 ['94558', '68,617'],
 ['90026', '68,609'],
 ['95687', '67,504'],
 ['90022', '67,446'],
 ['94080', '67,423'],
 ['90019', '67,415'],
 ['92407', '67,302'],
 ['94538', '67,133'],
 ['92801', '67,094'],
 ['95123', '66,858'],
 ['94509', '66,741'],
 ['95127', '66,686'],
 ['93230', '66,235'],
 ['92677', '66,077'],
 ['91343', '65,964'],
 ['92115', '65,704'],
 ['94541', '65,690'],
 ['93906', '65,464'],
 ['95624', '65,447'],
 ['95111', '64,891'],
 ['95206', '64,836'],
 ['92563', '64,686'],
 ['94015', '64,580'],
 ['95747', '64,320'],
 ['92201', '64,283'],
 ['91770', '63,981'],
 ['95758', '63,977'],
 ['90042', '63,788'],
 ['94501', '63,762'],
 ['90660', '63,694'],
 ['94806', '63,660'],
 ['91732', '63,557'],
 ['90640', '63,547'],
 ['95020', '63,251'],
 ['90037', '63,238'],
 ['92562', '63,032'],
 ['90004', '62,733'],
 ['95014', '62,682'],
 ['94122', '62,516'],
 ['92707', '62,408'],
 ['91950', '62,386'],
 ['90006', '62,329'],
 ['92630', '62,230'],
 ['92627', '62,184'],
 ['92647', '62,141'],
 ['95112', '62,039'],
 ['90731', '61,789'],
 ['91702', '61,739'],
 ['92780', '61,615'],
 ['91977', '61,377'],
 ['95608', '61,365'],
 ['94513', '61,300'],
 ['93905', '61,251'],
 ['95828', '60,988'],
 ['90813', '60,935'],
 ['93309', '60,893'],
 ['92404', '60,850'],
 ['91761', '60,560'],
 ['92346', '60,424'],
 ['92570', '60,349'],
 ['93030', '60,191'],
 ['90066', '59,747'],
 ['91762', '59,433'],
 ['93312', '59,359'],
 ['92020', '58,862'],
 ['90001', '58,738'],
 ['92324', '58,650'],
 ['95355', '58,279'],
 ['95122', '58,057'],
 ['92507', '58,017'],
 ['92504', '57,955'],
 ['93117', '57,913'],
 ['92708', '57,779'],
 ['92027', '57,746'],
 ['92392', '57,678'],
 ['92057', '57,276'],
 ['92071', '57,245'],
 ['90745', '57,219'],
 ['92530', '57,204'],
 ['94087', '57,178'],
 ['95051', '57,087'],
 ['90744', '56,779'],
 ['93458', '56,702'],
 ['93291', '56,627'],
 ['93436', '56,606'],
 ['94109', '56,587'],
 ['92113', '56,478'],
 ['93063', '56,457'],
 ['95116', '56,243'],
 ['91406', '56,200'],
 ['90034', '56,070'],
 ['92117', '55,978'],
 ['92840', '55,928'],
 ['92646', '55,869'],
 ['93215', '55,845'],
 ['92571', '55,814'],
 ['94591', '55,232'],
 ['90723', '55,020'],
 ['91801', '54,928'],
 ['95125', '54,802'],
 ['91405', '54,770'],
 ['92129', '54,577'],
 ['92130', '54,495'],
 ['95670', '54,348'],
 ['90221', '54,259'],
 ['92056', '54,181'],
 ['91745', '54,166'],
 ['93308', '54,042'],
 ['92399', '54,027'],
 ['91764', '53,750'],
 ['92234', '53,717'],
 ['92870', '53,642'],
 ['91304', '53,627'],
 ['90063', '53,556'],
 ['92025', '53,470'],
 ['91344', '53,453'],
 ['91786', '53,339'],
 ['95350', '52,951'],
 ['92833', '52,950'],
 ['90002', '52,856'],
 ['93277', '52,785'],
 ['94568', '52,599'],
 ['91605', '52,386'],
 ['92656', '52,372'],
 ['95376', '52,371'],
 ['94539', '52,354'],
 ['90018', '52,287'],
 ['92223', '52,129'],
 ['93003', '51,956'],
 ['93551', '51,896'],
 ['95023', '51,846'],
 ['92557', '51,789'],
 ['92701', '51,732'],
 ['90220', '51,713'],
 ['90046', '51,615'],
 ['92584', '51,523'],
 ['92084', '51,334'],
 ['92024', '51,309'],
 ['95648', '51,276'],
 ['92626', '51,251'],
 ['93313', '51,245'],
 ['90703', '50,877'],
 ['93304', '50,787'],
 ['94601', '50,763'],
 ['95207', '50,653'],
 ['94550', '50,646'],
 ['92886', '50,543'],
 ['92128', '50,473'],
 ['93638', '50,453'],
 ['92691', '50,287'],
 ['95037', '50,210'],
 ['92505', '50,110'],
 ['95616', '50,068'],
 ['95124', '50,055'],
 ['92064', '49,981'],
 ['92243', '49,915'],
 ['95351', '49,836'],
 ['90638', '49,797'],
 ['95148', '49,780'],
 ['94553', '49,748'],
 ['90024', '49,718'],
 ['92069', '49,638'],
 ['91306', '49,551'],
 ['91767', '49,492'],
 ['92111', '49,467'],
 ['90057', '49,389'],
 ['94014', '49,354'],
 ['91913', '49,346'],
 ['92078', '49,261'],
 ['90630', '49,249'],
 ['94086', '49,235'],
 ['92109', '49,024'],
 ['90033', '48,841'],
 ['93611', '48,759'],
 ['92026', '48,757'],
 ['92620', '48,752'],
 ['90047', '48,491'],
 ['92692', '48,485'],
 ['90065', '48,420'],
 ['95240', '48,282'],
 ['95757', '48,242'],
 ['92028', '48,015'],
 ['90247', '47,969'],
 ['91352', '47,934'],
 ['92544', '47,880'],
 ['94303', '47,850'],
 ['94577', '47,822'],
 ['90032', '47,766'],
 ['94116', '47,708'],
 ['90025', '47,453'],
 ['92648', '47,424'],
 ['91765', '47,398'],
 ['95060', '47,369'],
 ['90059', '47,351'],
 ['92122', '47,331'],
 ['93036', '47,234'],
 ['90023', '47,229'],
 ['95336', '47,166'],
 ['91748', '47,114'],
 ['95843', '47,088'],
 ['92705', '46,833'],
 ['93720', '46,813'],
 ['92058', '46,569'],
 ['90016', '46,303'],
 ['95403', '46,288'],
 ['95008', '46,251'],
 ['92410', '46,063'],
 ['90620', '46,038'],
 ['92127', '45,980'],
 ['91790', '45,958'],
 ['91320', '45,852'],
 ['92506', '45,831'],
 ['92879', '45,767'],
 ['95136', '45,754'],
 ['90027', '45,616'],
 ['94560', '45,554'],
 ['95610', '45,429'],
 ['90503', '45,349'],
 ['92843', '45,198'],
 ['92688', '45,062'],
 ['94566', '45,001'],
 ['91733', '44,989'],
 ['93446', '44,911'],
 ['93311', '44,862'],
 ['93702', '44,650'],
 ['92102', '44,644'],
 ['92009', '44,632'],
 ['90043', '44,571'],
 ['92867', '44,545'],
 ['92236', '44,523'],
 ['93455', '44,490'],
 ['96003', '44,406'],
 ['92104', '44,398'],
 ['91606', '44,352'],
 ['94551', '44,285'],
 ['94605', '44,260'],
 ['92040', '44,243'],
 ['93010', '44,122'],
 ['91789', '44,115'],
 ['90241', '44,097'],
 ['95307', '43,888'],
 ['94521', '43,850'],
 ['95209', '43,768'],
 ['94928', '43,663'],
 ['94121', '43,638'],
 ['94117', '43,610'],
 ['92054', '43,554'],
 ['92555', '43,436'],
 ['94403', '43,393'],
 ['91360', '43,389'],
 ['91367', '43,370'],
 ['91387', '43,319'],
 ['94531', '43,285'],
 ['92019', '43,116'],
 ['94066', '43,097'],
 ['94134', '43,074'],
 ['90501', '43,008'],
 ['90242', '42,922'],
 ['94010', '42,889'],
 ['93726', '42,610'],
 ['90275', '42,606'],
 ['90806', '42,587'],
 ['92374', '42,579'],
 ['92802', '42,476'],
 ['94901', '42,398'],
 ['95831', '42,218'],
 ['95678', '42,096'],
 ['94025', '42,016'],
 ['91016', '42,013'],
 ['95621', '41,893'],
 ['90605', '41,818'],
 ['95407', '41,797'],
 ['92395', '41,785'],
 ['92545', '41,738'],
 ['95210', '41,724'],
 ['95762', '41,709'],
 ['95404', '41,536'],
 ['92308', '41,442'],
 ['90045', '41,420'],
 ['94118', '41,417'],
 ['90604', '41,369'],
 ['93552', '41,320'],
 ['90007', '41,221'],
 ['94582', '41,073'],
 ['91401', '40,995'],
 ['93637', '40,986'],
 ['95991', '40,959'],
 ['94561', '40,905'],
 ['94578', '40,897'],
 ['95628', '40,882'],
 ['95132', '40,854'],
 ['90278', '40,808'],
 ['94804', '40,640'],
 ['92591', '40,601'],
 ['95833', '40,569'],
 ['93635', '40,550'],
 ['93292', '40,512'],
 ['93706', '40,471'],
 ['90815', '40,359'],
 ['93454', '40,333'],
 ['91942', '40,239'],
 ['95129', '40,231'],
 ['90802', '40,226'],
 ['90804', '40,225'],
 ['92806', '40,174'],
 ['95695', '40,121'],
 ['91311', '40,064'],
 ['92231', '40,054'],
 ['92253', '39,955'],
 ['92037', '39,893'],
 ['91701', '39,628'],
 ['90005', '39,562'],
 ['94061', '39,473'],
 ['95401', '39,229'],
 ['90020', '39,191'],
 ['91104', '39,178'],
 ['93534', '39,166'],
 ['94044', '39,141'],
 ['92508', '39,121'],
 ['93305', '39,114'],
 ['90031', '39,103'],
 ['91739', '39,069'],
 ['95926', '39,032'],
 ['94520', '39,027'],
 ['92337', '38,938'],
 ['95121', '38,909'],
 ['90029', '38,843'],
 ['90810', '38,769'],
 ['94611', '38,684'],
 ['95301', '38,675'],
 ['95835', '38,607'],
 ['90808', '38,487'],
 ['95050', '38,479'],
 ['94606', '38,441'],
 ['91601', '38,379'],
 ['91776', '38,322'],
 ['94954', '38,316'],
 ['93705', '38,315'],
 ['92307', '38,304'],
 ['91763', '38,211'],
 ['90036', '38,116'],
 ['92083', '38,107'],
 ['95838', '38,051'],
 ['92101', '38,023'],
 ['93021', '37,989'],
 ['95120', '37,937'],
 ['93245', '37,907'],
 ['92821', '37,840'],
 ['92065', '37,826'],
 ['92543', '37,825'],
 ['95691', '37,743'],
 ['95062', '37,728'],
 ['95826', '37,701'],
 ['92831', '37,686'],
 ['94555', '37,657'],
 ['91001', '37,528'],
 ['90301', '37,518'],
 ['91205', '37,514'],
 ['95382', '37,490'],
 ['94534', '37,409'],
 ['90505', '37,368'],
 ['95128', '37,301'],
 ['95476', '37,187'],
 ['93711', '37,173'],
 ['91350', '37,149'],
 ['95765', '37,134'],
 ['94590', '37,036'],
 ['91711', '36,933'],
 ['92139', '36,836'],
 ['91326', '36,804'],
 ['95205', '36,773'],
 ['95688', '36,745'],
 ['95667', '36,717'],
 ['95993', '36,712'],
 ['95337', '36,700'],
 ['95928', '36,696'],
 ['92675', '36,686'],
 ['95820', '36,624'],
 ['92869', '36,598'],
 ['94404', '36,573'],
 ['91722', '36,557'],
 ['95340', '36,543'],
 ['92660', '36,406'],
 ['90049', '36,362'],
 ['93012', '36,234'],
 ['94401', '36,145'],
 ['91768', '36,122'],
 ['90621', '36,074'],
 ['91362', '36,071'],
 ['92807', '35,980'],
 ['91340', '35,771'],
 ['95126', '35,758'],
 ['94115', '35,751'],
 ['95821', '35,734'],
 ['94588', '35,707'],
 ['90266', '35,698'],
 ['93612', '35,625'],
 ['90260', '35,614'],
 ['95973', '35,574'],
 ['93405', '35,534'],
 ['92394', '35,528'],
 ['94124', '35,492'],
 ['94040', '35,470'],
 ['92240', '35,434'],
 ['94952', '35,423'],
 ['95660', '35,397'],
 ['92706', '35,276'],
 ['94583', '35,244'],
 ['91780', '35,184'],
 ['93657', '35,093'],
 ['91206', '34,938'],
 ['90277', '34,922'],
 ['94523', '34,905'],
 ['92618', '34,704'],
 ['92672', '34,671'],
 ['93955', '34,614'],
 ['93619', '34,587'],
 ['94114', '34,561'],
 ['91773', '34,555'],
 ['91321', '34,510'],
 ['92131', '34,414'],
 ['91007', '34,357'],
 ['92116', '34,295'],
 ['92649', '34,276'],
 ['93561', '34,271'],
 ['91325', '34,240'],
 ['92841', '34,228'],
 ['93060', '34,226'],
 ['95825', '34,201'],
 ['95361', '34,140'],
 ['92260', '34,091'],
 ['93555', '34,075'],
 ['92373', '34,063'],
 ['92881', '34,039'],
 ['90601', '34,025'],
 ['91750', '34,017'],
 ['94063', '33,999'],
 ['96001', '33,986'],
 ['92883', '33,982'],
 ['92551', '33,980'],
 ['91791', '33,953'],
 ['94603', '33,952'],
 ['92311', '33,938'],
 ['95348', '33,888'],
 ['90012', '33,783'],
 ['96002', '33,697'],
 ['91423', '33,641'],
 ['90062', '33,627'],
 ['94621', '33,557'],
 ['90504', '33,422'],
 ['93001', '33,354'],
 ['95358', '33,350'],
 ['92301', '33,347'],
 ['93422', '33,221'],
 ['91006', '33,200'],
 ['95901', '33,150'],
 ['93703', '33,143'],
 ['91754', '33,114'],
 ['95356', '33,032'],
 ['92220', '33,016'],
 ['91941', '32,944'],
 ['94526', '32,850'],
 ['92679', '32,738'],
 ['92583', '32,682'],
 ['91351', '32,661'],
 ['90230', '32,657'],
 ['92595', '32,647'],
 ['95377', '32,637'],
 ['90606', '32,599'],
 ['90222', '32,585'],
 ['93940', '32,554'],
 ['95341', '32,537'],
 ['94545', '32,495'],
 ['93710', '32,410'],
 ['90807', '32,395'],
 ['90008', '32,359'],
 ['91107', '32,199'],
 ['92124', '32,126'],
 ['90803', '32,116'],
 ['93101', '32,101'],
 ['92612', '32,083'],
 ['91915', '32,073'],
 ['95482', '31,993'],
 ['95842', '31,971'],
 ['95118', '31,799'],
 ['95662', '31,738'],
 ['92173', '31,728'],
 ['91355', '31,645'],
 ['95632', '31,523'],
 ['90712', '31,471'],
 ['95070', '31,420'],
 ['94941', '31,389'],
 ['91607', '31,383'],
 ['94610', '31,354'],
 ['94132', '31,155'],
 ['93654', '31,093'],
 ['95661', '31,085'],
 ['90028', '31,054'],
 ['92123', '31,028'],
 ['91354', '31,027'],
 ['91505', '30,997'],
 ['91214', '30,991'],
 ['92203', '30,945'],
 ['95824', '30,935'],
 ['90302', '30,892'],
 ['91316', '30,888'],
 ['94903', '30,872'],
 ['94589', '30,833'],
 ['93618', '30,754'],
 ['94070', '30,745'],
 ['95472', '30,723'],
 ['91752', '30,716'],
 ['94043', '30,667'],
 ['91604', '30,642'],
 ['91746', '30,640'],
 ['95131', '30,540'],
 ['92673', '30,537'],
 ['90680', '30,530'],
 ['93004', '30,494'],
 ['93662', '30,454'],
 ['91303', '30,380'],
 ['92405', '30,366'],
 ['91356', '30,346'],
 ['94580', '30,326'],
 ['95682', '30,304'],
 ['94102', '30,140'],
 ['91803', '30,137'],
 ['91324', '30,101'],
 ['94602', '30,098'],
 ['91731', '30,063'],
 ['94608', '30,041'],
 ['94801', '29,974'],
 ['93420', '29,940'],
 ['94107', '29,920'],
 ['92107', '29,796'],
 ['91792', '29,787'],
 ['94585', '29,605'],
 ['95492', '29,590'],
 ['95966', '29,583'],
 ['92653', '29,554'],
 ['94549', '29,547'],
 ['92120', '29,392'],
 ['95117', '29,338'],
 ['92316', '29,304'],
 ['91384', '29,283'],
 ['95219', '29,238'],
 ['93401', '29,108'],
 ['96150', '29,103'],
 ['90039', '29,092'],
 ['97603', '29,086'],
 ['95603', '29,083'],
 ['94131', '29,056'],
 ['92081', '29,039'],
 ['90713', '28,927'],
 ['95133', '28,905'],
 ['93035', '28,795'],
 ['90710', '28,667'],
 ['92604', '28,656'],
 ['90041', '28,651'],
 ['93704', '28,491'],
 ['95204', '28,486'],
 ['91103', '28,435'],
 ['92262', '28,377'],
 ['92110', '28,373'],
 ['90405', '28,305'],
 ['92868', '28,148'],
 ['94559', '28,089'],
 ['96080', '28,075'],
 ['94510', '28,043'],
 ['92596', '28,039'],
 ['90061', '28,003'],
 ['94518', '27,967'],
 ['94704', '27,961'],
 ['90038', '27,957'],
 ['91755', '27,942'],
 ['95969', '27,919'],
 ['94306', '27,902'],
 ['95618', '27,721'],
 ['95370', '27,680'],
 ['93901', '27,624'],
 ['90270', '27,597'],
 ['92694', '27,582'],
 ['93280', '27,552'],
 ['92008', '27,537'],
 ['95212', '27,512'],
 ['95829', '27,417'],
 ['94598', '27,398'],
 ['92227', '27,358'],
 ['94062', '27,350'],
 ['93725', '27,239'],
 ['91307', '27,233'],
 ['94002', '27,213'],
 ['95961', '27,203'],
 ['90291', '27,170'],
 ['95834', '27,089'],
 ['92629', '27,063'],
 ['91364', '27,031'],
 ['93314', '26,992'],
 ['94103', '26,990'],
 ['91945', '26,983'],
 ['94133', '26,942'],
 ['95409', '26,905'],
 ['94607', '26,904'],
 ['90746', '26,852'],
 ['93960', '26,788'],
 ['91042', '26,767'],
 ['95363', '26,726'],
 ['91932', '26,713'],
 ['92860', '26,613'],
 ['91741', '26,610'],
 ['91504', '26,558'],
 ['91302', '26,500'],
 ['90602', '26,482'],
 ['95032', '26,437'],
 ['90017', '26,390'],
 ['92602', '26,351'],
 ['95242', '26,349'],
 ['90240', '26,339'],
 ['90249', '26,286'],
 ['91010', '26,265'],
 ['92411', '26,239'],
 ['93105', '26,177'],
 ['91740', '26,067'],
 ['91301', '26,028'],
 ['94947', '26,020'],
 ['90064', '26,007'],
 ['92284', '26,000'],
 ['91030', '25,940'],
 ['90304', '25,937'],
 ['91784', '25,908'],
 ['94803', '25,798'],
 ['91737', '25,759'],
 ['91724', '25,755'],
 ['95815', '25,606'],
 ['91106', '25,479'],
 ['95945', '25,462'],
 ['94123', '25,461'],
 ['90274', '25,374'],
 ['94530', '25,289'],
 ['92614', '25,271'],
 ['94547', '25,260'],
 ['95503', '25,215'],
 ['91411', '25,210'],
 ['95003', '25,195'],
 ['92832', '25,182'],
 ['97520', '25,164'],
 ['94402', '25,163'],
 ['91775', '25,156'],
 ['95354', '25,090'],
 ['92211', '25,015'],
 ['94506', '24,895'],
 ['95367', '24,884'],
 ['95054', '24,835'],
 ['92651', '24,828'],
 ['90403', '24,764'],
 ['91403', '24,677'],
 ['90303', '24,658'],
 ['95677', '24,571'],
 ['94619', '24,536'],
 ['93041', '24,487'],
 ['90740', '24,443'],
 ['93933', '24,388'],
 ['93212', '24,384'],
 ['95215', '24,250'],
 ['92844', '24,050'],
 ['95134', '23,984'],
 ['92277', '23,978'],
 ['92782', '23,956'],
 ['92119', '23,910'],
 ['92606', '23,895'],
 ['94024', '23,690'],
 ['95746', '23,641'],
 ['95501', '23,624'],
 ['93610', '23,587'],
 ['96007', '23,528'],
 ['92835', '23,513'],
 ['91201', '23,466'],
 ['95864', '23,458'],
 ['94085', '23,395'],
 ['92344', '23,275'],
 ['91202', '23,182'],
 ['95776', '23,169'],
 ['95531', '23,092'],
 ['94597', '23,030'],
 ['90272', '22,927'],
 ['90048', '22,860'],
 ['92251', '22,813'],
 ['92532', '22,770'],
 ['94030', '22,763'],
 ['92118', '22,623'],
 ['90404', '22,586'],
 ['93203', '22,471'],
 ['94579', '22,452'],
 ['95135', '22,415'],
 ['90732', '22,408'],
 ['94609', '22,339'],
 ['90292', '22,328'],
 ['90720', '22,318'],
 ['93907', '22,171'],
 ['94089', '22,135'],
 ['92108', '21,973'],
 ['92225', '21,966'],
 ['94703', '21,886'],
 ['90717', '21,740'],
 ['90068', '21,726'],
 ['92501', '21,707'],
 ['92663', '21,657'],
 ['95620', '21,588'],
 ['92354', '21,341'],
 ['95521', '21,311'],
 ['94127', '21,093'],
 ['92585', '21,077'],
 ['94706', '21,050'],
 ['95827', '21,005'],
 ['95405', '20,994'],
 ['92865', '20,993'],
 ['95330', '20,969'],
 ['95818', '20,946'],
 ['91501', '20,892'],
 ['94596', '20,881'],
 ['91361', '20,826'],
 ['93560', '20,797'],
 ['92603', '20,741'],
 ['92808', '20,726'],
 ['91101', '20,719'],
 ['93263', '20,710'],
 ['93103', '20,698'],
 ['90603', '20,697'],
 ['95965', '20,637'],
 ['95841', '20,551'],
 ['91381', '20,530'],
 ['94019', '20,521'],
 ['91011', '20,499'],
 ['96130', '20,479'],
 ['90069', '20,401'],
 ['94503', '20,371'],
 ['90715', '20,313'],
 ['93023', '20,272'],
 ['91723', '20,193'],
 ['90015', '20,187'],
 ['92586', '20,186'],
 ['91040', '20,175'],
 ['95138', '20,146'],
 ['92887', '20,143'],
 ['93630', '20,133'],
 ['93444', '20,049'],
 ['90210', '20,016'],
 ['95949', '19,828'],
 ['91902', '19,762'],
 ['90254', '19,750'],
 ['92264', '19,664'],
 ['94022', '19,568'],
 ['91390', '19,521'],
 ['92377', '19,490'],
 ['94945', '19,487'],
 ['95110', '19,451'],
 ['95519', '19,328'],
 ['92082', '19,263'],
 ['92106', '19,250'],
 ['94563', '19,179'],
 ['94564', '19,162'],
 ['95819', '19,134'],
 ['94519', '19,101'],
 ['91345', '19,022'],
 ['91602', '18,944'],
 ['92029', '18,615'],
 ['93927', '18,612'],
 ['95602', '18,517'],
 ['93247', '18,487'],
 ['96161', '18,369'],
 ['93111', '18,334'],
 ['91204', '18,318'],
 ['91506', '18,245'],
 ['91901', '18,238'],
 ['90814', '18,175'],
 ['93210', '18,163'],
 ['90265', '18,119'],
 ['90502', '18,010'],
 ['92270', '17,975'],
 ['92371', '17,799'],
 ['93015', '17,713'],
 ['95448', '17,666'],
 ['94595', '17,632'],
 ['93268', '17,620'],
 ['95959', '17,595'],
 ['94702', '17,534'],
 ['95366', '17,358'],
 ['92274', '17,298'],
 ['92617', '17,232'],
 ['91914', '17,186'],
 ['94949', '17,153'],
 ['95816', '17,143'],
 ['94301', '17,137'],
 ['91208', '17,128'],
 ['92587', '17,095'],
 ['93241', '16,969'],
 ['90245', '16,929'],
 ['92845', '16,917'],
 ['93930', '16,914'],
 ['90701', '16,912'],
 ['93110', '16,838'],
 ['95334', '16,804'],
 ['93013', '16,735'],
 ['96021', '16,670'],
 ['90670', '16,642'],
 ['94618', '16,566'],
 ['92582', '16,437'],
 ['92637', '16,314'],
 ['96022', '16,256'],
 ['94556', '16,249'],
 ['93631', '16,206'],
 ['94612', '16,027'],
 ['93648', '16,018'],
 ['93728', '15,945'],
 ['90623', '15,882'],
 ['94507', '15,829'],
 ['94960', '15,812'],
 ['94505', '15,780'],
 ['95203', '15,779'],
 ['95391', '15,738'],
 ['93402', '15,730'],
 ['92010', '15,694'],
 ['93950', '15,650'],
 ['95673', '15,604'],
 ['90305', '15,574'],
 ['93250', '15,523'],
 ['92408', '15,466'],
 ['95066', '15,429'],
 ['92866', '15,388'],
 ['95422', '15,360'],
 ['94305', '15,343'],
 ['94805', '15,076'],
 ['93221', '15,036'],
 ['95252', '14,981'],
 ['94552', '14,887'],
 ['90232', '14,865'],
 ['94108', '14,856'],
 ['91436', '14,794'],
 ['93543', '14,748'],
 ['95963', '14,720'],
 ['95605', '14,677'],
 ['95304', '14,592'],

In [3]:
populationdf = pd.DataFrame(population)
populationdf.columns = ['zipcode', 'population']
populationdf.head()

  zipcode population
0   90011    108,051
1   90650    106,404
2   91331    105,696
3   90201    102,878
4   92335     99,791

## Transform Starbucks Data
Take the needed Starbucks location information from 'directory.csv' and place it in a pandas dataframe.

In [4]:
starbucks = pd.read_csv('directory.csv')
starbucks = starbucks[['Brand','City','State/Province', 'Country', 'Postcode']]
starbucks.columns = ['brand', 'city', 'state', 'country', 'zipcode']
starbucks = starbucks[starbucks['country']=='US']
starbucksdf = pd.DataFrame(starbucks['zipcode'].str.slice(0,5,1).value_counts())
starbucksdf.reset_index(level=0, inplace=True)
starbucksdf.columns = ['zipcode', 'starbucks_count']
starbucksdf.sort_values('starbucks_count', ascending=False)
starbucksdf.head()

  zipcode  starbucks_count
0   89109               32
1   98101               24
2   90045               21
3   10019               20
4   92101               20

## Scrape and transform income data
Scrape income data from 'http://www.laalmanac.com'

In [5]:
url = 'http://www.laalmanac.com/employment/em12c.php'
response = requests.get(url, 'html.parser')
page_soup = soup(response.text)
income = []
for tr in page_soup.find_all('tr')[1:]:
    tds = tr.find_all('td')
    income.append([tds[0].text.strip(), tds[1].text.strip(), tds[2].text.strip()])

## Merge data
Merge the income and population dataframes on the zipcode into 'demographicsdf'

In [6]:
incomedf = pd.DataFrame(income)
incomedf.columns = ['zipcode', 'community', 'median_income']
demographicsdf = incomedf.merge(populationdf, on='zipcode')

In [7]:
demographicsdf.dtypes

zipcode          object
community        object
median_income    object
population       object
dtype: object

In [8]:
demographicsdf.head()

,zipcode,community,median_income,population
0,90001,"Los Angeles (South Los Angeles), Florence-Graham","$35,660","58,738"
1,90002,"Los Angeles (Southeast Los Angeles, Watts)","$34,000","52,856"
2,90003,"Los Angeles (South Los Angeles, Southeast Los ...","$34,397","70,490"
3,90004,"Los Angeles (Hancock Park, Rampart Village, Vi...","$46,581","62,733"
4,90005,"Los Angeles (Hancock Park, Koreatown, Wilshire...","$32,461","39,562"

## Merge Data
Merge starbucksdf and demographicsdf into finaldf on the zipcode

In [9]:
finaldf = demographicsdf.merge(starbucksdf, on='zipcode')

In [10]:
finaldf

,zipcode,community,median_income,population,starbucks_count
0,90001,"Los Angeles (South Los Angeles), Florence-Graham","$35,660","58,738",2
1,90004,"Los Angeles (Hancock Park, Rampart Village, Vi...","$46,581","62,733",1
2,90007,"Los Angeles (Southeast Los Angeles, Univerity ...","$23,070","41,221",3
3,90010,"Los Angeles (Hancock Park, Wilshire Center, Wi...","$47,115","3,759",3
4,90012,"Los Angeles (Downtown Civic Center, Chinatown,...","$38,786","33,783",7
5,90013,"Los Angeles (Downtown Central, Downtown Fashio...","$22,808","11,957",2
6,90014,"Los Angeles (Downtown Historic Core, Arts Dist...","$37,619","7,408",2
7,90015,"Los Angeles (Dowtown Fashion District, South P...","$32,979","20,187",5
8,90016,Los Angeles (West Adams),"$43,443","46,303",4
9,90017,"Los Angeles (Downtown Bunker Hill, City West, ...","$28,638","26,390",4
10,90018,"Los Angeles (Jefferson Park, Leimert Park)","$37,341","52,287",1
11,90019,"Los Angeles (Arlington Heights, Country Club P...","$50,671","67,415",2
12,90020,"Los Angeles (Hancock Park, Western Wilton, Wil...","$42,407","39,191",1
13,90021,"Los Angeles (Downtown Fashion District, Downto...","$12,864","3,158",1
14,90022,East Los Angeles,"$41,276","67,446",1
15,90023,"Commerce, East Los Angeles","$40,225","47,229",1
16,90024,Los Angeles (Westwood),"$59,418","49,718",4
17,90025,"Los Angeles (Sawtelle, West Los Angeles)","$78,713","47,453",4
18,90027,"Los Angeles (Griffith Park, Hollywood, Los Feliz)","$58,344","45,616",3
19,90028,Los Angeles (Hollywood),"$40,068","31,054",9
20,90032,"Los Angeles (El Sereno, Monterey Hills)","$47,370","47,766",1
21,90033,Los Angeles (Boyle Heights),"$31,683","48,841",1
22,90034,Los Angeles (Palms),"$65,572","56,070",3
23,90036,"Los Angeles (Fairfax, Melrose, Miracle Mile, P...","$74,279","38,116",9
24,90038,Los Angeles (Hollywood),"$36,996","27,957",2
25,90039,"Los Angeles (Atwater Village, Elysian Valley, ...","$81,394","29,092",3
26,90040,"Commerce, City of","$43,585","12,925",3
27,90041,Los Angeles (Eagle Rock),"$73,250","28,651",4
28,90042,Los Angeles (Highland Park),"$55,596","63,788",1
29,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",21
...,...,...,...,...,...
196,91732,El Monte,"$48,254","63,557",1
197,91733,"El Monte, South El Monte","$42,758","44,989",1
198,91740,Glendora,"$76,825","26,067",2
199,91741,Glendora,"$99,474","26,610",2
200,91744,"City of Industry, La Puente, Valinda","$63,318","86,982",1
201,91745,Hacienda Heights,"$81,397","54,166",2
202,91746,"Avocado Heights, Bassett, West Puente Valley","$64,607","30,640",1
203,91748,"City of Industry, Rowland Heights","$64,983","47,114",4
204,91750,La Verne,"$83,743","34,017",4
205,91754,Monterey Park,"$58,056","33,114",1
206,91765,Diamond Bar,"$95,285","47,398",3
207,91766,Pomona (Phillips Ranch),"$54,163","72,787",4
208,91767,Pomona,"$54,157","49,492",1
209,91768,Pomona,"$50,044","36,122",4
210,91770,Rosemead,"$51,383","63,981",3
211,91773,San Dimas,"$81,020","34,555",4
212,91775,San Gabriel,"$81,250","25,156",1
213,91780,Temple City,"$67,910","35,184",1
214,91789,"City of Industry, Diamond Bar, Walnut","$95,081","44,115",2
215,91790,West Covina,"$74,965","45,958",1
216,91791,West Covina,"$80,020","33,953",2
217,91792,West Covina,"$70,932","29,787",2
218,91801,Alhambra,"$53,644","54,928",3
219,91803,Alhambra,"$61,424","30,137",3
220,93534,Lancaster,"$37,883","39,166",2
221,93535,"Hi Vista, Lake Los Angeles, Lancaster, Rooseve...","$42,978","73,728",1
222,93536,"Del Sur, Fairmont, Lancaster, Metler Valley, N...","$72,634","71,303",3
223,93550,"Lake Los Angeles, Palmdale","$39,279","75,774",1
224,93551,"City Ranch, Leona Valley, Palmdale","$87,628","51,896",5
225,93552,Palmdale,"$60,612","41,320",3

In [11]:
finaldf.to_csv('finaldf.csv')

In [12]:
import numpy as np

In [13]:
fastfood= pd.read_csv('FastFoodRestaurants.csv')
fastfooddf = pd.DataFrame(fastfood)[['name', 'postalCode']]
mcdf = pd.DataFrame(fastfooddf['postalCode'].value_counts()).reset_index()
mcdf.columns = ['zipcode', "fastfood_Count"]
mcdf = finaldf.merge(mcdf, on='zipcode')
len(np.unique(fastfooddf['name']))

548

## Number of starbucks vs 548 other fastfood restaurants

In [18]:
mcdf['median_income'] = mcdf[mcdf.columns[2]].replace('[\$,]', '', regex=True).astype(int)
mcdf['population'] = mcdf[mcdf.columns[3]].replace('[\,]', '', regex=True).astype(int)
mcdf

,zipcode,community,median_income,population,starbucks_count,fastfood_Count
0,90007,"Los Angeles (Southeast Los Angeles, Univerity ...",23070,41221,3,2
1,90012,"Los Angeles (Downtown Civic Center, Chinatown,...",38786,33783,7,1
2,90014,"Los Angeles (Downtown Historic Core, Arts Dist...",37619,7408,2,1
3,90017,"Los Angeles (Downtown Bunker Hill, City West, ...",28638,26390,4,1
4,90027,"Los Angeles (Griffith Park, Hollywood, Los Feliz)",58344,45616,3,2
5,90028,Los Angeles (Hollywood),40068,31054,9,1
6,90042,Los Angeles (Highland Park),55596,63788,1,2
7,90045,Los Angeles (Los Angeles International Airport...,90399,41420,21,1
8,90047,Los Angeles (South Los Angeles),42551,48491,1,1
9,90049,"Los Angeles (Bel Air Estates, Brentwood)",121671,36362,2,1
10,90057,Los Angeles (Westlake),31337,49389,1,2
11,90063,"City Terrace, Los Angeles (Boyle Heights)",44121,53556,1,1
12,90066,"Culver City, Los Angeles (Mar Vista)",75209,59747,1,1
13,90201,"Bell, Bell Gardens, Cudahy",39498,102878,2,2
14,90220,"Compton, Rancho Dominguez",54014,51713,3,3
15,90230,Culver City,79242,32657,6,1
16,90232,Culver City,82254,14865,1,1
17,90241,Downey,64222,44097,2,1
18,90247,Gardena,46076,47969,3,1
19,90248,Gardena,58703,10899,1,2
20,90250,Hawthorne (Holly Park),49417,97371,6,1
21,90255,"Huntington Park, Walnut Park",40325,75636,2,2
22,90275,"Palos Verdes Estates, Rancho Palos Verdes, Rol...",124384,42606,2,3
23,90302,Inglewood,43788,30892,1,2
24,90303,Inglewood,44470,24658,2,3
25,90401,Santa Monica (Downtown),71154,7485,6,1
26,90501,Torrance,64995,43008,2,2
27,90502,"Torrance, West Carson",68676,18010,1,1
28,90504,Torrance,79352,33422,2,2
29,90505,Torrance,91569,37368,7,2
...,...,...,...,...,...,...
70,91362,Westlake Village,108167,36071,5,1
71,91367,Los Angeles (Woodland Hills),84937,43370,5,1
72,91381,Stevenson Ranch,121719,20530,2,1
73,91405,Los Angeles (Valley Glen),41283,54770,2,2
74,91406,"Los Angeles (Lake Balboa, Van Nuys)",51564,56200,4,1
75,91502,Burbank,41784,11645,3,2
76,91504,Burbank (Glenoaks),73501,26558,3,1
77,91602,"Los Angeles (North Hollywood, Studio City, Tol...",78526,18944,1,1
78,91606,"Los Angeles (North Hollywood, Valley Glen)",44773,44352,2,1
79,91702,"Azusa, Irwindale",59104,61739,5,1
80,91706,"Baldwin Park, Irwindale",57240,77819,6,2
81,91731,El Monte,36344,30063,3,1
82,91733,"El Monte, South El Monte",42758,44989,1,2
83,91741,Glendora,99474,26610,2,2
84,91744,"City of Industry, La Puente, Valinda",63318,86982,1,1
85,91746,"Avocado Heights, Bassett, West Puente Valley",64607,30640,1,1
86,91748,"City of Industry, Rowland Heights",64983,47114,4,1
87,91750,La Verne,83743,34017,4,2
88,91766,Pomona (Phillips Ranch),54163,72787,4,2
89,91767,Pomona,54157,49492,1,3
90,91789,"City of Industry, Diamond Bar, Walnut",95081,44115,2,2
91,91791,West Covina,80020,33953,2,1
92,91792,West Covina,70932,29787,2,2
93,91801,Alhambra,53644,54928,3,1
94,93534,Lancaster,37883,39166,2,5
95,93535,"Hi Vista, Lake Los Angeles, Lancaster, Rooseve...",42978,73728,1,3
96,93536,"Del Sur, Fairmont, Lancaster, Metler Valley, N...",72634,71303,3,4
97,93550,"Lake Los Angeles, Palmdale",39279,75774,1,2
98,93551,"City Ranch, Leona Valley, Palmdale",87628,51896,5,5
99,93552,Palmdale,60612,41320,3,1

In [15]:
mcdf.to_csv('finalfastfood.csv')

In [59]:
# mapping your database via sqlalchemy
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
# checkout http://docs.sqlalchemy.org/en/latest/dialects/index.html
# for a different database server
engine = create_engine('mysql://root:Penalbaby+=1@localhost/Restaurants')
Base =  automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['fastfood']

In [65]:
Session = Session(bind=engine)

In [66]:
try:
    mcdf.to_sql('fooddf', con=engine)
except:
    pass