In [22]:
from bs4 import BeautifulSoup as soup
import requests
import pandas as pd

In [54]:
url = 'https://www.california-demographics.com/zip_codes_by_population'
response = requests.get(url, 'html.parser')
page_soup = soup(response.text)
population = []
for tr in page_soup.find_all('tr')[1:]:
    tds = tr.find_all('td')
    if len(tds[1].text.strip()) == 5:
        population.append([tds[1].text.strip(), tds[2].text.strip()])

IndexError: list index out of range

In [59]:
populationdf = pd.DataFrame(population)
populationdf.columns = ['zip', 'population']
populationdf

        zip population
0     90011    108,051
1     90650    106,404
2     91331    105,696
3     90201    102,878
4     92335     99,791
5     90250     97,371
6     91342     96,177
7     90805     96,069
8     90280     95,420
9     90044     94,680
10    92503     94,523
11    92336     94,327
12    94565     93,549
13    92683     91,758
14    92704     90,525
15    91710     88,862
16    92804     88,065
17    95076     87,781
18    92154     87,218
19    91744     86,982
20    92376     86,937
21    94112     85,373
22    93307     84,948
23    93722     84,481
24    91911     84,025
25    93033     83,572
26    92592     82,551
27    92126     81,883
28    93727     81,118
29    92509     81,093
...     ...        ...
1577  95140         70
1578  95974         65
1579  95679         64
1580  96046         63
1581  96111         59
1582  95305         52
1583  95587         51
1584  95463         50
1585  93208         48
1586  96071         47
1587  96049         46
1588  95720         42
1589  95984         41
1590  96123         40
1591  96136         38
1592  93522         34
1593  93519         28
1594  93634         24
1595  92304         23
1596  94972         22
1597  96061         21
1598  94573         20
1599  95325         19
1600  95724         18
1601  95923         16
1602  95226         15
1603  92332         11
1604  93530         10
1605  95430          6
1606  95735          2

[1607 rows x 2 columns]

In [77]:
starbucks = pd.read_csv('directory.csv')
starbucks = starbucks[['Brand','City','State/Province', 'Postcode']]
starbucks.columns = ['brand', 'city', 'state', 'zip']
starbucks = starbucks[starbucks['city']=='Los Angeles']
starbucks

           brand         city state        zip
13681  Starbucks  Los Angeles    CA      90038
13682    Teavana  Los Angeles    CA      90064
13683  Starbucks  Los Angeles    CA      90045
13684  Starbucks  Los Angeles    CA  900274306
13685  Starbucks  Los Angeles    CA  900242811
13686  Starbucks  Los Angeles    CA      90045
13687  Starbucks  Los Angeles    CA      90014
13688  Starbucks  Los Angeles    CA  900287509
13689  Starbucks  Los Angeles    CA      90045
13690  Starbucks  Los Angeles    CA  900641719
13691  Starbucks  Los Angeles    CA  900483414
13692  Starbucks  Los Angeles    CA  900643644
13693  Starbucks  Los Angeles    CA  900242957
13694  Starbucks  Los Angeles    CA      90035
13695  Starbucks  Los Angeles    CA  900201604
13696  Starbucks  Los Angeles    CA      90016
13697  Starbucks  Los Angeles    CA  900243419
13698  Starbucks  Los Angeles    CA  900151360
13699  Starbucks  Los Angeles    CA  900455807
13700  Starbucks  Los Angeles    CA  900411143
13701  Starbucks  Los Angeles    CA  900171610
13702  Starbucks  Los Angeles    CA  900455807
13703  Starbucks  Los Angeles    CA  900131007
13704  Starbucks  Los Angeles    CA      90036
13705  Starbucks  Los Angeles    CA  900335422
13706  Starbucks  Los Angeles    CA      90045
13707  Starbucks  Los Angeles    CA  900286149
13708  Starbucks  Los Angeles    CA  900481804
13709  Starbucks  Los Angeles    CA      90036
13710  Starbucks  Los Angeles    CA      90045
...          ...          ...   ...        ...
13779  Starbucks  Los Angeles    CA  900642098
13780  Starbucks  Los Angeles    CA      90007
13781  Starbucks  Los Angeles    CA      90035
13782  Starbucks  Los Angeles    CA  900455807
13783  Starbucks  Los Angeles    CA  900451576
13784  Starbucks  Los Angeles    CA  900462439
13785  Starbucks  Los Angeles    CA      90071
13786  Starbucks  Los Angeles    CA  900492930
13787  Starbucks  Los Angeles    CA      90045
13788  Starbucks  Los Angeles    CA  900152212
13789  Starbucks  Los Angeles    CA  900122705
13790  Starbucks  Los Angeles    CA  900152176
13791  Starbucks  Los Angeles    CA  900102707
13792  Starbucks  Los Angeles    CA      90012
13793  Starbucks  Los Angeles    CA      90057
13794  Starbucks  Los Angeles    CA  900123724
13795  Starbucks  Los Angeles    CA  900391841
13796  Starbucks  Los Angeles    CA  900191628
13797  Starbucks  Los Angeles    CA  900154300
13798  Starbucks  Los Angeles    CA  902306225
13799  Starbucks  Los Angeles    CA  900496628
13800  Starbucks  Los Angeles    CA      90021
13801  Starbucks  Los Angeles    CA  900681302
13802  Starbucks  Los Angeles    CA      90064
13803  Starbucks  Los Angeles    CA  900163115
13804  Starbucks  Los Angeles    CA      90025
13805  Starbucks  Los Angeles    CA  900632403
13806  Starbucks  Los Angeles    CA  900455807
13807  Starbucks  Los Angeles    CA      90042
13808  Starbucks  Los Angeles    CA  900455614

[127 rows x 4 columns]

In [98]:
url = 'http://www.laalmanac.com/employment/em12c.php'
response = requests.get(url, 'html.parser')
page_soup = soup(response.text)
income = []
for tr in page_soup.find_all('tr')[1:]:
    tds = tr.find_all('td')
    income.append([tds[0].text.strip(), tds[1].text.strip(), tds[2].text.strip()])

In [106]:
incomedf = pd.DataFrame(income)
incomedf.columns = ['zip', 'community', 'median_income']
demographicsdf = incomedf.merge(populationdf, on='zip')

In [107]:
demographicsdf.head()

,zip,community,median_income,population
0,90001,"Los Angeles (South Los Angeles), Florence-Graham","$35,660","58,738"
1,90002,"Los Angeles (Southeast Los Angeles, Watts)","$34,000","52,856"
2,90003,"Los Angeles (South Los Angeles, Southeast Los ...","$34,397","70,490"
3,90004,"Los Angeles (Hancock Park, Rampart Village, Vi...","$46,581","62,733"
4,90005,"Los Angeles (Hancock Park, Koreatown, Wilshire...","$32,461","39,562"

,zip,community,median_income,population,brand,city,state
0,90001,"Los Angeles (South Los Angeles), Florence-Graham","$35,660","58,738",Starbucks,Los Angeles,CA
1,90007,"Los Angeles (Southeast Los Angeles, Univerity ...","$23,070","41,221",Starbucks,Los Angeles,CA
2,90007,"Los Angeles (Southeast Los Angeles, Univerity ...","$23,070","41,221",Starbucks,Los Angeles,CA
3,90007,"Los Angeles (Southeast Los Angeles, Univerity ...","$23,070","41,221",Starbucks,Los Angeles,CA
4,90010,"Los Angeles (Hancock Park, Wilshire Center, Wi...","$47,115","3,759",Starbucks,Los Angeles,CA
5,90010,"Los Angeles (Hancock Park, Wilshire Center, Wi...","$47,115","3,759",Starbucks,Los Angeles,CA
6,90012,"Los Angeles (Downtown Civic Center, Chinatown,...","$38,786","33,783",Starbucks,Los Angeles,CA
7,90012,"Los Angeles (Downtown Civic Center, Chinatown,...","$38,786","33,783",Starbucks,Los Angeles,CA
8,90013,"Los Angeles (Downtown Central, Downtown Fashio...","$22,808","11,957",Starbucks,Los Angeles,CA
9,90014,"Los Angeles (Downtown Historic Core, Arts Dist...","$37,619","7,408",Starbucks,Los Angeles,CA
10,90016,Los Angeles (West Adams),"$43,443","46,303",Starbucks,Los Angeles,CA
11,90021,"Los Angeles (Downtown Fashion District, Downto...","$12,864","3,158",Starbucks,Los Angeles,CA
12,90023,"Commerce, East Los Angeles","$40,225","47,229",Starbucks,Los Angeles,CA
13,90025,"Los Angeles (Sawtelle, West Los Angeles)","$78,713","47,453",Starbucks,Los Angeles,CA
14,90027,"Los Angeles (Griffith Park, Hollywood, Los Feliz)","$58,344","45,616",Starbucks,Los Angeles,CA
15,90028,Los Angeles (Hollywood),"$40,068","31,054",Starbucks,Los Angeles,CA
16,90036,"Los Angeles (Fairfax, Melrose, Miracle Mile, P...","$74,279","38,116",Starbucks,Los Angeles,CA
17,90036,"Los Angeles (Fairfax, Melrose, Miracle Mile, P...","$74,279","38,116",Starbucks,Los Angeles,CA
18,90038,Los Angeles (Hollywood),"$36,996","27,957",Starbucks,Los Angeles,CA
19,90042,Los Angeles (Highland Park),"$55,596","63,788",Starbucks,Los Angeles,CA
20,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",Starbucks,Los Angeles,CA
21,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",Starbucks,Los Angeles,CA
22,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",Starbucks,Los Angeles,CA
23,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",Starbucks,Los Angeles,CA
24,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",Starbucks,Los Angeles,CA
25,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",Starbucks,Los Angeles,CA
26,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",Starbucks,Los Angeles,CA
27,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",Starbucks,Los Angeles,CA
28,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",Starbucks,Los Angeles,CA
29,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",Starbucks,Los Angeles,CA
30,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",Starbucks,Los Angeles,CA
31,90046,"Los Angeles (Hollywood), West Hollywood","$65,990","51,615",Starbucks,Los Angeles,CA
32,90048,"Los Angeles (Mid-City West), West Hollywood","$85,396","22,860",Teavana,Los Angeles,CA
33,90048,"Los Angeles (Mid-City West), West Hollywood","$85,396","22,860",Starbucks,Los Angeles,CA
34,90057,Los Angeles (Westlake),"$31,337","49,389",Starbucks,Los Angeles,CA
35,90064,"Los Angeles (Cheviot Hills, Rancho Park)","$92,194","26,007",Teavana,Los Angeles,CA
36,90064,"Los Angeles (Cheviot Hills, Rancho Park)","$92,194","26,007",Starbucks,Los Angeles,CA
37,90064,"Los Angeles (Cheviot Hills, Rancho Park)","$92,194","26,007",Starbucks,Los Angeles,CA
38,90066,"Culver City, Los Angeles (Mar Vista)","$75,209","59,747",Starbucks,Los Angeles,CA